<div class="col-2 bg-light p-2 sidebar">
  <ul class="nav flex-column nav-pills" role="tablist">
    <a class="nav-link {{profile}}" id="profile-tab" href="/profile" role="tab">Profile</a>
    <a class="nav-link {{experience}}" id="experience-tab" href="/experience" role="tab">Experience</a>
    <a class="nav-link {{security}}" id="security-tab" href="/security" role="tab">Security</a>
  </ul>
</div>
