<div class="container my-2">
  <p>
    Tired of writing a new resume for every job, copying and pasting skills and experiences from one Word doc to another?
  </p>
  <p>
    Sick of searching through your gmail to find the resume you sent to that one company you applied to 6 years ago to see how you phrased your ability to deal with anything thrown your way?
  </p>
  <p>
    <h3>So are we.</h3>
  </p>
  <p>
    We make it easy to store all your resume data in one place, so you never have to search through an entire folder of resumes on your harddrive.
  </p>
  <p>
    Plus we make it easier for you to be found by businesses and recruiters by tagging yourself like a vintage wool sweater on Etsy.
  </p>
  <p>
    Pick and choose exactly what experiences you want to show up on your resume. Print, download, and email your resume to anyone at anytime.
  </p>
  <p>
    Use a simple and clean URL to send a web version of your resume that's fully responsive. How many employers are reading resumes on a full desktop these days?
    How many employers even have a full desktop these days?
  </p>
</div>
