{{> sidebar this}}
<div class="col-10 ml-sm-auto">
  <div class="container-fluid py-2">
    <a class='btn btn-success' href="/employer">New Employer</a>
    <ul class="list-group py-2">
      {{#each session.user.employers}}
      <li class="list-group-item">
        <a href="/employer/{{this._id}}">{{this.name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
