<div class="container my-2">
  <div class="jumbotron">
    <h1 class="title">Seeveeee</h1>
    <p class="lead">
      Enter data; get resume.
    </p>
    <a class="btn btn-success" href="/about">Find out more</a>
  </div>
  <div class="row">
    <div class="col">
      <h1>Your Data</h1>
      <p>
        Easily enter, store and categorize your career data. Add and remove education, work and skills in a simple, unencumbered interface.
      </p>
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
    <div class="col">
      <h1>Your Resume</h1>
      <p>
        Easily create unique resumes for different opportunities by checking which of your saved experiences you want to show up.
      </p>
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
    <div class="col">
      <h1>Your Career</h1>
      <p>
        SEO yourself. Add tags and keywords to your experiences to help yourself be discovered by people looking for you.
      </p>
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
  </div>
</div>
