<div class="container my-2">
  <div class="jumbotron">
    <h1 class="title">Seeveeee</h1>
    <p class="lead">
      Enter data; get resume.
    </p>
    <a class="btn btn-success" href="/about">Find out more</a>
  </div>
  <div class="row">
    <div class="col">
      <h1>Something</h1>
      <p>
        {{lorem count="7"}}
      </p>
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
    <div class="col">
      <h1>Something</h1>
      <p>
        {{lorem count="7"}}
      </p>
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
    <div class="col">
      <h1>Something</h1>
      <p>
        {{lorem count="7"}}
      </p>
      <a class="btn btn-primary" href="/about">Learn more</a>
    </div>
  </div>
</div>
