<div class="container my-2">
  <h2>Sign Up</h2>
  <div>
    Already have an account? <a href="/signin">Click here to sign-in.</a>
  </div>
  <div class="card">
    <div class="card-block">
      <form method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
