<div class="container my-2">
  <ul class="list-group">
    {{#each users}}
      <a href="/users/{{this._id}}" class="list-group-item list-group-item-action">
        {{this.profile.first_name}} {{this.profile.last_name}}
      </a>
    {{/each}}
  </ul>
</div>
